<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>strat.ink | home</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="static/layout.css" type="text/css">
<!--[if lt IE 9]><script src="static/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="/">strat.ink</a></h1>
      <h2>Don't get cooked, stay off the hook!</h2>
    </div>
    <nav>
      <ul>
        <li><a href="https://splatoon.nintendo.com/">Official Site</a></li>
        <li><a href="https://splatoonwiki.org/wiki/Splatoon_2">Fan Wiki</a></li>
        <li><a href="https://stat.ink/">stat.ink</a></li>
        <li><a href="https://github.com/Rokushou/Splatoon-2-Meta-Modeling">Source Code</a></li>
        <li class="last"><a href="#">Login</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
      <figure><img src="static/images/splatoon-2-logo.jpg" alt="">
        <figcaption>
          <h2><font color="#F03C79">Absolute Advantage</font></h2>
          <p> <font color="#A1FD00" size="5">Enhance your game with our synergistic suite of data-driven applications.</font></p>
        </figcaption>
      </figure>
    </section>
    <!-- main content -->
    <div id="homepage">
      <!-- services area -->
      <section id="services" class="clear">
        <!-- article 1 -->
        <article class="one_third">
          <h2>Ink Score</h2>
          <img src="https://66.media.tumblr.com/9c265b187ffb1fadb0dee5d223f8dcf5/tumblr_npn1shiIh81rvaww0o1_500.gif" alt="">
          <p>Submit your post-match statistics to get an objective scoring of your performance. Track your scores from match to match to find the most optimal strategies or compare with your teammates to answer the age old question of who carried the team.*<br><br>*strat.ink cannot be held liable for any mismanaged anger and/or altercations caused by our scores.</p>
          <footer class="more"><a href="/score"><font color="#C83D79">Super Jump &raquo;</font></a></footer>
        </article>
        <!-- article 2 -->
        <article class="one_third">
          <h2>Weapon Recommender</h2>
          <img src="https://cdn.wikimg.net/en/splatoonwiki/images/6/60/S2_Weapon_Main_Splattershot.png" alt="">
          <p>Like Marie's weapon fortunes but better. Tell us your favorite weapon(s) to get a recommendation based on millions of datapoints. Our recommender will not only suggest you the best weapon similar to your favorites, but will also predict a win rate increase.*<br><br>*Win rate increase subject to player skill.</p>
          <footer class="more"><a href="/recommend"><font color="#C83D79">Super Jump &raquo;</font></a></footer>
        </article>
        <!-- article 3 -->
        <article class="one_third lastbox">
          <h2>Gear Calc [Under Devolopment]</h2>
          <img src="https://i.imgur.com/MUbvcf8.gif" alt="">
          <p>Get summarized numerical values for all your gear bonuses and theorycraft the perfect loadout before spending all your hard earned chunks on Murch.<br><br> This app is not quite ready yet, but strat.ink is constantly working on new ways to improve your competitive edge. Subscribe to our newsletter to get the latest updates.</p>
          <footer class="more"><a href="#"><font color="#C83D79">Subscribe &raquo;</font></a></footer>
        </article>
      </section>
      <!-- / services area -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- One Quarter -->
      <section id="latest" class="last clear">
        <article class="one_quarter">
          <figure><img src="static/images/callouts.jpg" width="215" height="100" alt="">
            <figcaption>
              <h2>Callouts</h2>
              <p>Learn about the terminology that pros use to efficiently communicate in the heat of battle.</p>
              <footer class="more"><a href="https://splatoonwiki.org/wiki/Competitive:Callouts"><font color="#409D3B">Read More &raquo;</font></a></footer>
            </figcaption>
          </figure>
        </article>
        <article class="one_quarter">
          <figure><img src="static/images/weapon.jpg" width="215" height="100" alt="">
            <figcaption>
              <h2>Weapon Stats</h2>
              <p>Summary statistics of the data used to drive out product. At strat.ink we believe in complete transparency.</p>
              <footer class="more"><a href="https://stat.ink/entire/weapons2"><font color="#409D3B">Read More &raquo;</font></a></footer>
            </figcaption>
          </figure>
        </article>
        <article class="one_quarter">
          <figure><img src="static/images/salmon.jpg" width="215" height="100" alt="">
            <figcaption>
              <h2>Salmon Run Guide</h2>
              <p>No one wants to be "that guy" in a Salmon Run. Study up on these strategies to get those eggs quickly.</p>
              <footer class="more"><a href="https://squidboards.com/guides/salmon-run-the-ultimate-guide.272/"><font color="#409D3B">Read More &raquo;</font></a></footer>
            </figcaption>
          </figure>
        </article>
        <article class="one_quarter lastbox">
          <figure><img src="static/images/splatfest.png" width="215" height="100" alt="">
            <figcaption>
              <h2>Splatfests</h2>
              <p>An archive of all previous splatfest results. Chaos vs Order, which team did you choose? </p>
              <footer class="more"><a href="https://splatoon.nintendo.com/splatfests/"><font color="#409D3B">Read More &raquo;</font></a></footer>
            </figcaption>
          </figure>
        </article>
      </section>
      <!-- / One Quarter -->
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2019 - <a target="_blank" href="https://github.com/rokushou"><span lang="ja">緑青</span> (Rokushou)</p>
    <p class="fl_right">Special thanks to <a target="_blank" href="https://github.com/fetus-hina">AIZAWA Hina</a></p>
  </footer>
</div>
</body>
</html>
