<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>strat.ink | Weapon Recommender</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="static/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="/">strat.ink</a></h1>
      <h2>Don't get cooked, stay off the hook!</h2>
    </div>
    <nav>
      <ul>
        <li><a href="https://splatoon.nintendo.com/">Official Site</a></li>
        <li><a href="https://splatoonwiki.org/wiki/Splatoon_2">Fan Wiki</a></li>
        <li><a href="https://stat.ink/">stat.ink</a></li>
        <li><a href="https://github.com/Rokushou/Splatoon-2-Meta-Modeling">Source Code</a></li>
        <li class="last"><a href="#">Login</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- main content -->
    <div id="homepage">
      <section id="intro" class="clear">
        <article class="two_quarter">
          <h2><font color="#CF0466" size="24px">Weapon Recommender</font></h2>
          <p><font size="4">A simplified version of our weapon recommender tailored to newcomers of the series or those just starting competitive play. Simply select one or more of your favorites from these these iconic weapons and chose a game mode.</font><br><br>Veteran player? Try <a href="/recommend_a">Advanced Mode</a></p>
        </article>
        <article class="two_quarter lastbox">
          <img src="static/images/heroweapons.jpg" width="470" height="310">
        </article>
      </section>
      <section id="checks" class="clear">
        <article class="one_quarter">
          <div>
            <input type="checkbox" class="check-with-label" id="w1" name="weapon" value="Splattershot"/>
            <label class="label-for-check" for="w1"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/6/60/S2_Weapon_Main_Splattershot.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w2" name="weapon" value="Splattershot Jr."/>
            <label class="label-for-check" for="w2"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/5/5e/S2_Weapon_Main_Splattershot_Jr..png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w3" name="weapon" value="Splattershot Pro"/>
            <label class="label-for-check" for="w3"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/d/d1/S2_Weapon_Main_Splattershot_Pro.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w4" name="weapon" value="H-3 Nozzlenose"/>
            <label class="label-for-check" for="w4"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/c/c5/S2_Weapon_Main_H-3_Nozzlenose.png" width="200" height="200"></label>
          </div><br>
        </article>
        <article class="one_quarter">
          <div>
            <input type="checkbox" class="check-with-label" id="w5" name="weapon" value="Blaster"/>
            <label class="label-for-check" for="w5"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/c/cc/S2_Weapon_Main_Blaster.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w6" name="weapon" value="Clash Blaster"/>
            <label class="label-for-check" for="w6"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/2/21/S2_Weapon_Main_Clash_Blaster.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w7" name="weapon" value="Splat Roller"/>
            <label class="label-for-check" for="w7"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/2/26/S2_Weapon_Main_Splat_Roller.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w8" name="weapon" value="Octobrush"/>
            <label class="label-for-check" for="w8"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/c/c3/S2_Weapon_Main_Octobrush.png" width="200" height="200"></label>
          </div><br>
        </article>
        <article class="one_quarter">
          <div>
            <input type="checkbox" class="check-with-label" id="w9" name="weapon" value="Splatterscope"/>
            <label class="label-for-check" for="w9"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/a/ad/S2_Weapon_Main_Splatterscope.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w10" name="weapon" value="E-liter 4K"/>
            <label class="label-for-check" for="w10"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/d/db/S2_Weapon_Main_E-liter_4K.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w11" name="weapon" value="Mini Splatling"/>
            <label class="label-for-check" for="w11"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/7/76/S2_Weapon_Main_Mini_Splatling.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w12" name="weapon" value="Heavy Splatling"/>
            <label class="label-for-check" for="w12"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/2/2f/S2_Weapon_Main_Heavy_Splatling.png" width="200" height="200"></label>
          </div><br>
        </article>
        <article class="one_quarter lastbox">
          <div>
            <input type="checkbox" class="check-with-label" id="w13" name="weapon" value="Slosher"/>
            <label class="label-for-check" for="w13"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/a/aa/S2_Weapon_Main_Slosher.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w14" name="weapon" value="Splat Dualies"/>
            <label class="label-for-check" for="w14"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/d/de/S2_Weapon_Main_Splat_Dualies.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w15" name="weapon" value="Dualie Squelchers"/>
            <label class="label-for-check" for="w15"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/3/33/S2_Weapon_Main_Dualie_Squelchers.png" width="200" height="200"></label>
          </div><br>
          <div>
            <input type="checkbox" class="check-with-label" id="w16" name="weapon" value="Splat Brella"/>
            <label class="label-for-check" for="w16"><img src="https://cdn.wikimg.net/en/splatoonwiki/images/6/69/S2_Weapon_Main_Splat_Brella.png" width="200" height="200"></label>
          </div><br>
        </article>
      </section>
      <!-- / Services -->
      <section id="services" class="clear">
        <article class="two_quarter">
          <div>
            <label style = "width: 50px; font-size: 18px; color: #17A80C">Mode</label>
            <select id="mode" style = "width: 150px">
              <option value="Turf War">Turf War</option>
              <option value="Splat Zones" type="text">Splat Zones</option>
              <option value="Tower Control" type="text">Tower Control</option>
              <option value="Rainmaker" type="text">Rainmaker</option>
              <option value="Clam Blitz" type="text">Clam Blitz</option>
            </select>
            <button id="submit" style="margin-left: 20px">&nbsp;Recommend&nbsp;&nbsp;&#9658;</button>
          </div>
        </article>
        <article class="two_quarter lastbox">
          <div>
            <textarea id="rec" type="text" readonly></textarea>
          </div>
        </article>
      </section>
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2019 - <a target="_blank" href="https://github.com/rokushou"><span lang="ja">緑青</span> (Rokushou)</p>
    <p class="fl_right">Special thanks to <a target="_blank" href="https://github.com/fetus-hina">AIZAWA Hina</a></p>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/recommendi.js"></script>
</body>
</html>
