<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>strat.ink | Ink Score</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="static/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="/">strat.ink</a></h1>
      <h2>Don't get cooked, stay off the hook!</h2>
    </div>
    <nav>
      <ul>
        <li><a href="https://splatoon.nintendo.com/">Official Site</a></li>
        <li><a href="https://splatoonwiki.org/wiki/Splatoon_2">Fan Wiki</a></li>
        <li><a href="https://stat.ink/">stat.ink</a></li>
        <li><a href="https://github.com/Rokushou/Splatoon-2-Meta-Modeling">Source Code</a></li>
        <li class="last"><a href="#">Login</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- main content -->
    <div id="homepage">
      <!-- / Services -->
      <section id="services" class="clear">
        <article class="two_quarter">
          <h2><font color="#CF0466" size="6">Ink Score</font></h2>
          <p><font color="#CF0466" size="4">Submit your post-match statistics to get an objective scoring of your performance. Track your scores from match to match to find the most optimal strategies or compare with your teammates to answer the question of who carried the team.</font><font size="4">*</font><br><br>*strat.ink cannot be held liable for any resulting altercations.</p>
        </article>
        <article class="two_quarter lastbox">
          <h2><font color="#17A80C" size="5">Enter your match results</font></h2>
          <p>Download the <a href="https://splatoon.nintendo.com/splatnet2/">Splatnet 2</a> app to access your match results.</p>
          <div id="controls">
            <div>
              <label>Kills</label>
              <input id="kill" type="number" />
            </div>
            <div>
              <label>Assists</label>
              <input id="assist" type="number" />
            </div>
            <div>
              <label>Deaths</label>
              <input id="death" type="number" />
            </div>
            <div>
              <label>Specials</label>
              <input id="special" type="number" />
            </div>
            <div>
              <label>Turf Inked</label>
              <input id="inked" type="number" />
            </div>
            <div>
              <button id="inference">&nbsp;Score&nbsp;&nbsp;&#9658;</button>
              <input id="score" type="text" readonly />
            </div>
          </div>
        </article>
      </section>
    </div>
    <!-- Slider -->
    <section id="slider"><img src="static/images/splash.jpg" width="960" height="540" alt=""></section>
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2019 - <a target="_blank" href="https://github.com/rokushou"><span lang="ja">緑青</span> (Rokushou)</p>
    <p class="fl_right">Special thanks to <a target="_blank" href="https://github.com/fetus-hina">AIZAWA Hina</a></p>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/score.js"></script>
</body>
</html>
