body {
    background-color: #ffffff;
}

img {
    height: 300px;
    width: 450px;
}

li {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #273874;
    margin: auto;
    padding: auto;
}

h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #273874;
    margin: 0px;
    padding-bottom: 10px;
}

#controls {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #273874;
    background-color: #CDB3D7;
    border: 5px outset #672F8B;
    width: 330px;
    margin: 10px;
    padding: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    background-color: #D0EDF4;
    border: 1px solid #98DAE7;
    width: 200px;
    ;
}

#inference-button {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #273874;
    background-color: #F8C1E2;
    border: 3px outset #EC438A;
    margin: 10px;
    padding: 10px;
}

#inference {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #79287A;
    background-color: #F8C1E2;
    border: 3px outset #EC438A;
    margin: 10px;
    padding: 10px;
}
